.version{
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    color:black;
    border-radius: 0;
    &:hover{
        background: #eee;
        color:#0093e9;
    }

}


@media only screen and (max-width: 767px) {
    .version{
        padding: 0.8rem;
    }
}