.body{
    &__version{
        position: sticky;
        width: 350px;
        top: 12%;
        bottom: 0px;
        padding: 1rem;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        overflow: hidden;
    }
    &__versionleft{
        width:100% ;
        height:30vh;
        overflow-y: scroll;
        overflow-x: hidden; 
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
    }
    &__heading{
        color: #1a5296;
        font-weight: bold;
    }
    &__versionleft::-webkit-scrollbar-track
    {
        margin-top: 10px;
        margin-bottom: 10px;

    }
    
    &__versionleft::-webkit-scrollbar
    {
        width: 8px;
        height: 30px;
        display: block;
    }
    
    &__versionleft::-webkit-scrollbar-thumb
    {
        background-color: #0ae;
        border-right: none;
        border-left: none;
        background-image: -webkit-gradient(linear, 0 0, 0 100%,
                           color-stop(.5, rgba(255, 255, 255, .2)),
                           color-stop(.5, transparent), to(transparent));
    }
    &__versionleft::-webkit-scrollbar-track-piece:end{
        margin-bottom: 10px; 
    }
    &__versionleft::-webkit-scrollbar-track-piece:start{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .body{
        &__version{
            width: 100%;
            margin-bottom: 4rem;
            margin-top: 0 !important;
        }
       
    }
}