.banner{
    padding-top: 2rem;
    width: 100%;
    background-color: #e9f8ff;
    &__heading{
        font-size: 2.125rem;
        color: var(--heading);
        font-weight: bold;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    &__subheading{
        color: var(--heading);
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    &__link{
        color:rgba(0, 147, 233, 0.7);
    }
    .blog{
        background-color:#333333;
        padding: 2rem;
        p{
            color:white;
            margin-bottom: 0;
            a{
                color:var(--primary);
                &:hover{
                    color:var(--heading);
                }
            }
        }
    }

}
.subscribe{
    &__text{
        font-size: 0.875rem;
    }
    &__form{
        position: relative;
    }
    &__btnsubmit{
        position: absolute;
        right:1.2%;
        top: 12%;
        color: var(--heading);
        font-weight: bold;
        &:hover{
            background-color: var(--primary);
            color: white;
        }
    }
    &__input{
        padding: 1.5rem 2.5rem;
        padding-left: 3rem;
    }
    &__icon{
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 1rem;
        top: 30%;
    }
}