.banner{
    padding-top: 2rem;
    width: 100%;
    background-color: #e9f8ff;
    &__heading{
        font-size: 2.125rem;
        color: #1a5296;
        font-weight: bold;
    }
    &__subheading{
        color: #1a5296;
        font-size: 1.3rem;
    }
    &__link{
        color:rgba(0, 147, 233, 0.7);
    }
    .blog{
        background-color:#333333;
        padding: 2rem;
        p{
            color:white;
            a{
                color:#0093e9;
                &:hover{
                    color:#1a5296;
                }
            }
        }
    }

}
.subscribe{
    &__text{
        font-size: 0.875rem;
    }
    &__form{
        position: relative;
    }
    &__btnsubmit{
        position: absolute;
        right:2%;
        top: 12%;
        color: #1a5296;
        font-weight: bold;
        &:hover{
            background-color: #1a5296;
            color: white;
        }
    }
    &__input{
        padding: 1.5rem 0;
        padding-left: 30px;
    }
    &__icon{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 5px;
        top: 30%;
    }
}